{{template "base/head" .}}
<div class="repository wiki new">
	{{template "repo/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		<div class="ui header">
			{{if .PageIsWikiEdit}}{{.i18n.Tr "repo.wiki.edit_page"}}{{else}}{{.i18n.Tr "repo.wiki.new_page"}}{{end}}
			<div class="ui right">
				<button class="ui green small button" form="wiki-form">
					{{.i18n.Tr "repo.wiki.save_page"}}
				</button>
			</div>
		</div>
		<form class="ui form" id="wiki-form" action="{{EscapePound .Link}}" method="post">
			{{.CSRFTokenHTML}}
			<input type="hidden" name="old_title" value="{{.old_title}}">
			<div class="field {{if .Err_Title}}error{{end}}">
				<input name="title" value="{{.title}}" autofocus required>
			</div>
			<div class="field">
				<textarea id="edit_area" name="content" data-id="wiki-{{.old_title}}" data-url="{{AppSubURL}}/api/v1/markdown" data-context="{{.RepoLink}}">{{if .PageIsWikiEdit}}{{.content}}{{else}}{{.i18n.Tr "repo.wiki.welcome"}}{{end}}</textarea required>
			</div>
			<div class="field">
				<input name="message" placeholder="{{.i18n.Tr "repo.wiki.default_commit_message"}}">
			</div>
			<div class="text right">
				<button class="ui green button">
					{{.i18n.Tr "repo.wiki.save_page"}}
				</button>
			</div>
		</form>
	</div>
</div>
{{template "base/footer" .}}
